<nav class="sidebar">
  <ul>
    <li><a href="/codes">Códigos</a></li>
    <li><a href="/batches">Lotes</a></li>
    <li><a href="/history">Histórico</a></li>
    <li><a href="/settings">Configurações</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
