<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Code Manager SaaS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <%- include('partials/sidebar') %>
    <main>
      <%- body %>
    </main>
  </div>
  <%- include('partials/footer') %>
  <script src="/js/main.js"></script>
</body>
</html>
